doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title SmartHome
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/styles/bootstrap.css', media='screen')
    link(rel='stylesheet', href='/styles/custom.min.css', media='screen')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='icon', type='image/png', href='/favicon.png')
    block styles
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='../') SmartHome
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          if user
            ul.nav.navbar-nav
              li
                a(href='/recipes') Recipes
              li
                a(href='/products') Products
              li
                a(href='/budget') Budget
          ul.nav.navbar-nav.navbar-right
            li
              if user
                a(href='/logout')
                  i.fa.fa-user
                  span(style='margin-left: 8px;') #{user.name}
              else
                a(href='/login')
                  Login
    .container
      block content

    script(type='text/javascript', src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(type='text/javascript', src='/scripts/bootstrap.min.js')
    script(type='text/javascript', src='http://bootswatch.com/assets/js/custom.js')
    block scripts
