extends ../layouts/default

block content
  .row
    .col-md-6
      h3 Burndown chart
      #this-month-container(style="width:100%; height:400px;")
    .col-md-6
      h3 By category
      #by-category(style='width: 100%; height: 400px;')


block scripts
  script(type='text/javascript', src='/scripts/highcharts.js')
  script(type='text/javascript').
    $(function () {
      var actualExpenses = !{JSON.stringify(expensesByDay)};
      var plannedExpenses = !{JSON.stringify(plannedExpenses)};
      var actualData = actualExpenses.map(function (o) {
        return [Date.UTC(2016, 0, o.day), o.amount];
      });
      var plannedData = plannedExpenses.map(function (o) {
        return [Date.UTC(2016, 0, o.day), o.amount];
      });
      $('#this-month-container').highcharts({
          chart: {
              type: 'line'
          },
          title: {
              text: ''
          },
          xAxis: {
            type: 'datetime'
          },
          yAxis: {
              title: {
                  text: 'ISK'
              }
          },
          credits: {
              enabled: false
          },
          series: [{
              name: 'Actual',
              data: actualData
          }, {
              name: 'Planned',
              data: plannedData
          }]
      });
    });

    var categoryNames = !{JSON.stringify(categoryNames)};
    var categoryValues = !{JSON.stringify(categoryValues)};
    $('#by-category').highcharts({
      chart: {
        type: 'bar'
      },
      title: {
          text: ''
      },
      xAxis: {
        categories: categoryNames
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Expenses (ISK)',
              align: 'high'
          },
          labels: {
              overflow: 'justify'
          }
      },
      tooltip: {
          valueSuffix: ' kr.'
      },
      plotOptions: {
          bar: {
              dataLabels: {
                  enabled: true
              }
          }
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -40,
          y: 80,
          floating: true,
          borderWidth: 1,
          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
          shadow: true
      },
      credits: {
          enabled: false
      },
      series: [{
          name: 'Expenses',
          data: categoryValues
      }]
    });
