extends ../layouts/default

block content
  .portlet.light
    .portlet-title
      .caption.caption-md
        span.caption-subject.theme-font-color.bold.uppercase(style="font-size: 25px; margin-top: 10px;") Your Recipes
      .actions
        a.btn.green.btn-lg(href="/recipes/new")
          i.fa.fa-plus &nbsp;Add Recipe
    .portlet-body
    | hehehe
