extends ../layouts/default

block content
  .row
    .col-lg-12
      .pull-left
        h2 Recipes
      .pull-right
        a.btn.green.btn-primary(href='/recipes/new', style='margin-top: 18px;')
          i.fa.fa-plus &nbsp;Add Recipe
  .row
    .col-lg-12
      table.table.table-striped(style='clear: both; margin-top: 10px;')
        tbody
          for recipe in recipes
            tr
              td(style='font-size: 1.3em;')
                button.btn.btn-xs.btn-default
                  i.fa.fa-edit
                span(style='margin-left: 10px;')
                  a(href='/recipes/#{recipe.id}')= recipe.title
              td(style='text-align: right;')
                for tag in recipe.tags
                  span.label.label-primary(style='font-size: 13px;')= tag
