extends ../layouts/default

block content
  h2 New Recipe
  form(action='/recipes/new', method='post')
    .form-group
      input.form-control(type='text', placeholder='What\'s the title of this recipe?', style='font-size: 20px; height: 46px;')
    .form-group
      textarea(id='body', name='body', rows='12', contenteditable='true').
        Hey there!
    .form-group
      input.form-control#categories(name='categories', value='red, blue')
    .form-actions(style='margin-bottom: 15px;')
      button.btn.btn-primary.green(type='submit') Create
      button.btn.default(type='button') Cancel

block styles
  link(rel='stylesheet', type='text/css', href='/styles/select2.css')
  link(rel='stylesheet', type='text/css', href='/styles/select2-bootstrap.css')

block scripts
  script(type='text/javascript', src='//cdn.ckeditor.com/4.5.3/standard/ckeditor.js')
  script(src='/scripts/select2.min.js')
  script(type='text/javascript').
    CKEDITOR.replace('body', {
      removePlugins: 'about,blockquote,maximize,symbol,tabletools,table,scayt,pastefromword,pastetext,undo,clipboard,wsc,stylescombo,elementspath',
      toolbar: [
        { name: 'basicstyles', items: ['Bold', 'Italic', 'Strike'] },
        { name: 'paragraph', items: ['NumberedList', 'BulletedList'] },
        { name: 'links', items: ['Link', 'Unlink', 'Image', 'HorizontalRule'] },
        { name: 'styles', items: ['Format'] },
        { name: 'source', items: ['Source'] }
      ]
    });

    $('#categories').select2({
      tags: ["red", "green", "blue", "yellow", "pink"]
    });
