extends ../layouts/default

block content
  .row
    h2 Products
    .col-lg-8
      table.table.table-hover
        thead
          tr
            th Name
            th(style='width: 250px;') Barcode
        tbody
          for product in products
            tr
              td= product.title
              td= product.barcode
        tfoot
          form(action='/products/new', method='post')
            tr
              td
                input.form-control(type='text', name='title', placeholder='Product name')
              td
                .input-group(style='margin-left: -17px;')
                  input.form-control(type='text', name='barcode', placeholder='Barcode')
                  span.input-group-btn
                    button.btn.btn-primary(type='submit') Add

    .col-lg-4
      .panel.panel-default
        .panel-heading Stats
        .panel-body.
          A total of <b>#{products.length}</b> products
